* {
  margin: 0;
  padding: 0; }

.tou {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #ccc;
  margin: 0 auto;
  background: #25244d; }
  .tou p {
    font-size: 0.5rem;
    margin-top: -0.8rem;
    color: white;
    text-align: center; }

.shengti {
  width: 100%;
  height: 100%; }
  .shengti p {
    font-size: 0.25rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem; }
  .shengti a {
    font-size: 0.16rem;
    float: left;
    color: red;
    text-decoration: none; }

.shengti2 {
  font-size: 0.25rem;
  margin-top: 0.4rem; }

.shengti3 {
  font-size: 0.16rem;
  color: red; }

.shengti4 {
  font-size: 0.25rem; }

.shengti5 {
  margin-left: 0.4rem; }
  .shengti5 a {
    margin-left: 0.2rem; }

.shengti6 {
  font-size: 0.3rem;
  margin-left: 0.5rem; }

.shengti7 {
  margin-left: 0.4rem; }
  .shengti7 a {
    margin-left: 0.2rem; }

.shengti8 {
  font-size: 0.3rem;
  margin-left: 0.4rem; }

.shengti9 {
  font-size: 0.3rem;
  margin-left: 0.4rem; }

.shengti10 {
  font-size: 0.3rem;
  margin-left: 0.4rem; }

.shengti12 {
  width: 100%;
  height: 100%; }
  .shengti12 p {
    font-size: 0.25rem;
    margin-top: 0.5rem; }
  .shengti12 shengti13 {
    font-size: 0.25rem; }

.shengti14 {
  widh: 100%;
  height: 2rem;
  border: 1px solid #ccc;
  background: #fff9f6; }
  .shengti14 p {
    font-size: 0.2rem;
    color: #ed9962;
    margin-top: 0.2rem;
    magin-left: 0.2rem; }
