$margin: 0;
$padding: 0;
$width: 100%;
$height: 100%;
body,html,p,span,a,ul,li{
    margin: $margin;
    padding: $padding;
    text-decoration: none;
    list-style: none;
}
@media screen and (min-width:375px) {
	.main .main_inner{
		padding-bottom: 7.3rem;
		box-sizing: border-box;
	}
}
.wrap{
	width: $width;
	.header{
		.header_top{
			height: 1.5625rem;
			line-height: 1.5625rem;
			background: #272750;
			text-align: center;
			a{
				color: white;
				font-size: 0.46875rem;
			}
		}
		.header_bottom{
			height: 3.390625rem;
			background: url(../images/setup_pic.jpg) no-repeat;
			background-size: 100% 100%;
			margin: 0.03125rem 0 0 0;
			padding: 0.546875rem 0 0 0;
			box-sizing: border-box;
			p{
				width: 90%;
				height: 2.4rem;
				line-height: 0.8rem;
				color: #d6d7df;
				font-size: 0.40625rem;
				margin: 0 auto;
				padding: 0 0 0 0.46875rem;
				border: 0.015625rem dashed white;
				border-radius: 0.15625rem;
				box-sizing: border-box;
			}
		}
	}
	.main{
		background: #e1e5ee;
		padding: 0.234375rem;
		box-sizing: border-box;
		.main_inner{
			background: white;
			margin: 0 auto;
			padding-bottom: 3.5rem;
			box-sizing: border-box;
			ul{
				display: flex;
				text-align: center;
				flex-wrap: wrap;
				padding: 0.625rem 0 0.546875rem 0;
				box-sizing: border-box;
				li{
					width: 20%;
					margin-bottom: 0.15625rem;
					a{
						width: 1.140625rem;
						height: 0.625rem;
						text-align: center;
						line-height: 0.625rem;
						color: white;
						font-size: 0.375rem;
						display: inline-block;
						background: #282952;
						border-radius: 0.15625rem;
						
					}
				}
			}
			.menu{
				width: 89%;
				margin: 0 auto;
				a:nth-child(1){
					width: 3.515625rem;
					height: 0.9375rem;
					text-align: center;
					line-height: 0.9375rem;
					color: white;
					font-size: 0.375rem;
					display: inline-block;
					background: #282952;
					border-radius: 0.15625rem;
					margin-right: 1.09375rem;
					box-sizing: border-box;
				}
				a:nth-child(2){
					width: 3.515625rem;
					height: 0.9375rem;
					text-align: center;
					line-height: 0.9375rem;
					color: white;
					font-size: 0.375rem;
					display: inline-block;
					background: #1bbda5;
					border-radius: 0.15625rem;
				}
				a:nth-child(3){
					width: 92%;
					height: 0.9375rem;
					text-align: center;
					line-height: 0.9375rem;
					color: white;
					font-size: 0.375rem;
					display: block;
					background: #282952;
					border-radius: 0.15625rem;
					margin: 0.390625rem auto 0 auto;
				}
			}
		}
	}
}